@font-face {
  font-family: 'Apple II Pro';
  src: url(/assets/fonts/Apple\ II\ Pro.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url(/assets/fonts/PressStart2P-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

:root {
  --white:#FFF;
  --bg-1: #F6F8F4;
  --bg-4: #E6EDE1;
  --bg-3: #B8BEB4;
  --bg-4: #D5E0CC;
  --bg-5: #2C312B;
}

/* Support classes */
.b-bottom {
  border-bottom: 2px solid var(--bg-5);
}

.b-top {
  border-top: 2px solid var(--bg-5);
}

.b-left {
  border-left: 2px solid var(--bg-5);
}

.b-right {
  border-right: 2px solid var(--bg-5);
}

.b-all {
  border: 2px solid var(--bg-5);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption {
  font-family: 'Apple II Pro', monospace;
  font-size: 8px;
  letter-spacing: -1px;
  font-weight: 400;
  font-style: normal;
}

.p-basic {
  font-family: 'Apple II Pro', monospace;
  font-size: 16px;
  letter-spacing: -2px;
  font-weight: 400;
  font-style: normal;
}

.p-title {
  font-family: 'Apple II Pro', monospace;
  font-size: 24px;
  letter-spacing: -3px;
  font-weight: 400;
  font-style: normal;
}

.p-score-small {
  font-family: 'Press Start 2P';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  padding-left: 3px
}

.p-score-big {
  font-family: 'Press Start 2P';
  font-size: 56px;
  color: var(--bg-5);
  text-align: center;
  text-shadow: 0px -4px 0px rgba(0, 0, 0, 0.20);
  font-style: normal;
  font-weight: 400;
  padding-left: 7px;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
  image-rendering: pixelated;
  margin: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

div.app-container {
  width: 480px;
  height: 270px;
  position: relative;
}

/* Home page classes */

div.homepage {
  width: 480px;
  height: 270px;
  background-color: var(--bg-5);
  flex-direction: column;
  color: var(--white);
  padding: 32px 0 24px 0;
  gap: 24px;
  position: absolute;
}

img.ppg-logo {
  width: 56px;
  height: 56px;
  background-size: cover; 
}

div.homepage p:last-child {
  margin-top: auto;
}

/* Scoreboard classes */

input {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
  color: var(--bg-5);
}

div.scoreboard-container {
  width: 480px;
  height: 270px;
  background-color: var(--bg-4);
  color: var(--bg-5);

  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 3fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

div.player {
  width: 100%;
  position: relative;
}

input.home {
  grid-column: 2;
  grid-row: 1;
}

button.home-add-point {
  grid-column: 1;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
}

button.home-subtract-point {
  grid-column: 1;
  grid-row: 3 / 5;
  width: 100%;
  height: 100%;
}

div.home-points-container {
  grid-column: 2;
  grid-row: 2 / 5;
  padding-top: 4px;
}

div.home-sets-container {
  grid-column: 3;
  grid-row: 2;
  background-color: var(--bg-4);
}

div.ball-home-container {
  grid-column: 3;
  grid-row: 3;
  background-color: var(--bg-4);
}

input.visitor {
  grid-column: 5;
  grid-row: 1;
}

button.visitor-add-point {
  grid-column: 6;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
}

button.visitor-subtract-point {
  grid-column: 6;
  grid-row: 3 / 5;
  width: 100%;
  height: 100%;
}

div.visitor-points-container {
  grid-column: 5;
  grid-row: 2 / 5;
  padding-top: 4px;
}

div.visitor-sets-container {
  grid-column: 4;
  grid-row: 2;
  background-color: var(--bg-4);
}

div.ball-visitor-container {
  grid-column: 4;
  grid-row: 3;
  background-color: var(--bg-4);
}

div.button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  border: none;
}

button.button {
  padding: 8px 16px;
  min-height: 48px;
  background: var(--bg-1);
  box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.20) inset, 2px 2px 0px 0px rgba(255, 255, 255, 0.80) inset;
  color: #2C312B;
}

button.button:active {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.20) inset, -2px -2px 0px rgba(255, 255, 255, 0.80) inset;
}

button.pause-game {
  grid-column: 3 / 5;
  grid-row: 4;
}

div.ball {
  width: 24px;
  height: 24px;
  background-image: url(/assets/images/ball-empty.png);
  background-size: cover;
}

div.service {
  background-image: url(/assets/images/ball.png);
}

div.timer-container {
  grid-column: 3 / 5;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.caster-container {
  grid-column: 1 / -1;
  grid-row: 5;
  background-color: var(--bg-5);
  color: var(--bg-1);
}

svg.icon {
  width: 16px;
  height: 16px;
  fill: var(--bg-5);
}